* {
    box-sizing: border-box;
    font-family: 'Times New Roman', serif;
}


table {

    line-height: center;
  width: 100%;
}

td, th {

  text-align: center;
  padding: 12px;
    line-height: center;
}

.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    border: 2px solid #d2ebf1;
    float: left;
    width: 50%;
    padding: 12px;
    text-align: center;
    line-height: center;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

input[type=submit] {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    padding: 5px;
    width: 50%;
    height: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}
input[type=submit]:hover {
    background-color: #008CBA;
    color: white;
}

input[type=submit]:disabled {
    background-color: #888888;
    color: linen;
    opacity: 1;
}

