<!DOCTYPE html>
<html>
<head>
<title>ServiceAccessGui web page</title>
	<link rel="stylesheet" href="/css/mystyle.css">
</head>
<body style="text-align:center;">

<h1 style="color:white; font-size:300%; background-color:#008CBA">Cold Storage Service</h1>
<p style="font-size:150%;">Current weight in cold room:
<label style="font-size:120%;" id="cw"></label></p>

<br>

<div class="row">
  <div class="column" >
  	<form action="storefoodreq" method="post">
		<label style="font-size:150%;" for="foodweight">Ask for ticket here:</label>
		<br/>
		<input style="font-size:150%;" type="number" id="foodweight" name="foodweight" placeholder="set food weight" required>
		<!--<input type="submit" class="buttonup"  value="Request">-->
		<input type="submit" value="Request">
  	</form>
  	<br/>
	<br/>
	<input type="button" class="button" onclick="check()" id="check" value="Check Ticket">
	<br/>
	<br/>
	<input type="button" class="button" onclick="loadDone()" id="load" value="Load done">
	
  </div>
  
  <div class="column" >
	<textarea style="font-size:150%;" id="outputText" rows=10 cols=40 wrap=on readonly>Welcome to Christmas's service</textarea>
  
  </div>
</div>


<script src="/js/dinamic.js">
</script>

</body>
</html>




$('#submit-form').on('click', function() {
	var form = $('#tweet-form');
	$.ajax({      url: form.attr('action'),
		data: form.serialize(),
		type: post,
		success: function(result) {
		// Do something with the response.
		// Might want to check for errors here.
		}, error: function(error) {
			// Here you can handle exceptions thrown by the server or your controller.
		}
	})
}